.container-form{
    background: #F4F4F4;
    border: 1px solid #D8D8D8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 16px 20px;
    margin-bottom: 16px;
}
.button-blue{
    background-color: var(--blue-light);
    border: 1px solid var(--blue-link);
    padding: 10px 45px;
    border-radius: 5px;
    font-family: var(--calibri-bold);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: white;
}   

.slds-form-element div:nth-child(1) label{
    font-family: var(--calibri-bold);
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.005em;
    color:var(--black-primary);
    
}
.slds-form-element div:nth-child(2) label,
.slds-form-element div:nth-child(3) label{
    font-family: var(--calibri-bold);
    font-size: 14px;
    line-height: 20px;
    color: #3E3E3C;    
}

@media screen and (min-width:768px) {
    .container-form{
        border-radius: 8px;
    }
}