:host {
  display: block;
    margin: 50px 0;
}

.form-error {color: red;/*temp*/}

:host > div {
  background: #f8f8f8;
  display: flex;
  width: 100%;
  padding: 10px 15px 15px;
  flex-wrap: wrap;
}

:host > div > * {flex:1;padding-right:15px;}
:host > div > c-input:last-of-type {padding-right:0;} /* temp */

.formulator-actions {
  flex-basis:100%!important;
  padding-right:0!important;
}
.formulator-actions > div:first-of-type {display:flex;align-items:center;padding:15px 0 0;}
.formulator-actions > div:first-of-type ~ div {padding-top:15px;}
.formulator-actions > div > c-button {margin-right:15px;}

a {font-size: 15px;}

@media screen and (min-width:768px) and (max-width:1024px) {
  :host > div > c-tc-search-formulators-input,
  :host > div > c-input:nth-child(2),
  :host > div > c-input:nth-child(3) {flex-basis:33%;}
  :host > div > c-input:nth-child(3) {padding-right:0;}
  :host > div > c-input:nth-child(2) {padding-bottom:15px;}
  :host > div > c-input:nth-child(4),
  :host > div > c-input:nth-child(5) {flex-basis:50%;padding-bottom:15px;}
}

@media screen and (max-width:767px) {
  :host > div > * {flex-basis:100%;padding-right:0;padding-bottom:15px;}
  .formulator-actions {padding-bottom:10px;}
}