:host > div:not(.noitems) {
    background: #f8f8f8;
    display: flex;
    width: 100%;
    padding: 10px 15px 15px;
    flex-wrap: wrap;
    align-items:flex-end;
    margin-bottom:30px;
}

:host > div c-input {flex:1;padding-right:15px;min-width:0;}

:host > div a {font-size:15px;padding: 0 0 9px 0;}

.noitems {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    max-width: calc(100% - 15px);
}

@media screen and (min-width:768px) {
    .noitems {margin-top:220px;}
}

@media screen and (min-width:651px) and (max-width:767px) {
    :host > div c-input:nth-child(2) {padding-right:0;}
    :host > div c-input:nth-child(3) {flex-basis:100%;padding:15px 0 10px;}
}

@media screen and (max-width:650px) {
    :host > div c-input {flex-basis:100%;padding: 0 0 15px;}
}

@media screen and (max-width:767px) {
    .noitems {margin-top: 140px;margin-bottom: 90px;}
}