h2 {
    box-sizing: border-box;
    color: var(--black-primary);
    display: block;
    font-family: var(--neo-sans-bold);
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    text-transform: uppercase;
}


.container-table {
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background: white;
    margin-top: 25px;

}

.container-datatable {
    background: white;
    border: 1px solid #D8D8D8;
    margin-bottom: 13px;
}

lightning-layout {
    justify-content: center;
}

.container-selectors {
    display: flex;
    flex-direction: column;
}

lightning-tabset {

    font-family: var(--calibri-regular);
    font-size: 16px;
    line-height: 20px;
}

lightning-datatable span.slds-truncate {
    font-family: var(--calibri-bold);
    font-size: 14px;
    line-height: 20px;
    color: black;

}

lightning-datatable {
    font-family: var(--calibri-regular);
    font-size: 14px;
    line-height: 20px;
    color: black;

}

.total-number{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.total-number span{

    font-family: var(--calibri-regular);
    font-size: 14px;
    line-height: 20px;
    color: black;
}

@media screen and (min-width:768px) {
    .container-table {

        /*padding: 15px 20px 20px;*/

    }
    .container-selectors {
        flex-direction: row;
        justify-content: end;
        gap: 2%;
        margin-right: 16px;
        align-items: end;
    }

    lightning-layout {
        justify-content: end;
    }
    lightning-combobox{
        display: flex;
        align-items: end;
    }
}

@media screen and (max-width:768px) {

    lightning-layout,
    lightning-tabset{
        display: none;
    }

}