.popover {position: relative;}

.popover slot {display:block;cursor:pointer;}

.popover .content {
  visibility:hidden;
  width: 250px;
  background-color: #16325c;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  position:absolute;
  bottom: calc(100% + 13px);
  z-index: 1;
  line-height: 1.1rem;
  right:-23px;
}
  
.popover slot:hover ~ .content {visibility:visible;}

.popover .content::after {
  content: " ";
  position: absolute;
  bottom: -5px;
  background:#16325c;
  height: 20px;
  display: block;
  width: 20px;
  transform: rotate(45deg);
  z-index: -1;
}

.content:after {right:24px;}