.gmaModal {
    max-width: 25rem;
}

.gmaModal > .dialog-box {
    border-bottom-left-radius: 2.0rem !important;
    border-bottom-right-radius: 2.0rem !important;
    border-radius: 2.0rem;
    border: 0.4rem solid #00c0eb !important;
    background-color: #ffc700;
}

.loginButton {
    font-size: 16px;
    font-family: 'NeoSans-Regular';
    font-weight: normal;
    text-transform: uppercase;
    width: unset;
    box-sizing: content-box;
    color: #fff;
    margin: 0;
    padding: 13px 20px;
    transition: all .3s ease;
    border-radius: 0!important;
    box-shadow: none!important;
    background-color: #130c0e;
}

.gmaModal > .dialog-box p {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 1rem;
}