/*:host > div.top > div {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left:15px;
	padding-right:15px;
	font-size: 14px;
	text-align:center;
}*/

ul {
	display: flex;
	margin: 0 auto;
}

a {
	color: rgb(193, 193, 193);		/* var was changing to 'inherit' when mob emulated: var(--textcolour); */
	font-size: 16px;
    line-height: 20px;
    display: inline-block;
	text-decoration:underline;
}

li {padding: 0 10px;}

li:not(:last-of-type) {border-right:1px solid var(--textcolour);}

.footer-text {font-weight: 300;}

.bottom {
	background: rgb(19, 12, 14); 	/* var was changing to 'inherit' when mob emulated: var(--bottombgcolour) */
	color: rgb(193, 193, 193); 	/* var was changing to 'inherit' when mob emulated: var(--bottomtextcolour) */
}

.bottom p {color:inherit!important;}

.bottom img {width:44px;margin-right:20px;}

.bottom > div {
	display:flex;
	justify-content:space-between;
	max-width: 1680px;
    margin: 0 auto;
	
	
}

.bottom > div > div:first-of-type {
	display: flex;
    align-items: center;
}

ul, p, a {
	font-size: 16px!important;
	line-height: 22px!important;
}

a:not(:last-of-type) {
	border-right:1px solid var(--bottomtextcolour);
	padding-right:12px;
	margin-right:12px;
}

@media screen and (min-width:781px) {
	.bottom > div {align-items: center;padding: 30px;}
}

@media screen and (max-width:870px) {
	.bottom p,
	.bottom a {
		font-size: 14px!important;
		line-height: 20px!important;
	}
	/*.bottom > div > div:last-of-type {
		padding-top:12px;
	}*/
}

@media screen and (max-width:780px) {
	.bottom > div {
		flex-direction: column;
    	padding: 25px 20px 45px;
	}
	.bottom > div > div:last-of-type {
		text-align: left;
    	padding: 25px 0 0 63px;
	}
	
	.bottom p {
		padding-top: 22px!important;
    	max-width: 225px;
    	text-align: left;
	}
}