.main {
    background-color: #F8F8F8 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: 10rem !important;
  }

.empty {
  height: 91px !important;
}

.mainList {
  background-color: #F8F8F8 !important;
  padding: 10px !important;
  height: auto !important;
}